<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/di.xsd">
    <preference for="Bootcamp\AemContent\Api\BannerInterface"
                type="Bootcamp\AemContent\Model\Banner"/>
</config>
